body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
header, footer {
    background: #003e7a;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
main {
    margin-left:200px;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}
article {
    border: 5px solid #003e7a;
    margin: 40px;
}
.sub-header {
    padding-left: 150px;   
}
.sub-header h1{
    font-size:28px;
    text-align: left;
}
header ul {
    float:right;
    list-style-type: none; 
    padding: 0;           
    margin: 0;  
}
header ul li{
    display:inline-block;
    margin:0 5px
    
}
header ul li a {
  text-decoration: none;
  color:white;
  font-size:1.5em
}
a.active{
    color:#d57146
}
a:hover{
    text-decoration:underline;
    text-decoration-color:#d57146;
    text-decoration-thickness:3px;
}




