body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
header, footer {
    background: #003e7a;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
main {
    max-width: 700px;
    margin: 2em auto;
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}
.about {
    display: flex;
    background-color:#d57146;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin: 100px;
}
.other-about {
    display: flex;
    background-color: #6aaa37;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    justify-content:space-around;
    margin: 100px;
}

