html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    background: #f5f5f5;
}
header, footer {
    background: #003e7a;
    height:100px;
    width:100%;
    max-width:100vw;
    padding:0 80px;
    align-content:center;
    color:white
}
footer {border-top:3px solid #d57146}
header ul {
    float:right;
    list-style-type: none; 
    padding: 0;           
    margin: 0;  
}
header ul li{
    display:inline-block;
    margin:0 10px
    
}
header ul li a {
  text-decoration: none;
  font-size:32px;
  font-weight:bold
}
a.active{
    color:#d57146
}
a:hover{
    text-decoration:underline;
    text-decoration-color:#d57146;
    text-decoration-thickness:0.25em;
}
.none-effect-link:hover{
    text-decoration: none
}
.resource-page-header{
    background-image:linear-gradient(rgba(0, 62, 122, 0.55),rgba(0, 62, 122, 0.55)),url('lab2.jpg');
    width:100%;
    min-height:400px;
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    padding:100px 0;
    align-content:center
}
.main-header{
    position:fixed;
    border-bottom:3px solid #d57146;
    top:0;
    z-index:1
}
.resource-header-text{
    font-size:64px;
    font-family:Merriweather;
    font-weight:bold;
    color:white;
    line-height:1.5;
    width:60%;
    margin-left:auto;
    margin-right:auto
}
p {
   color: #003e7a;
   font-size:24px;
   margin-top:50px;
   margin-bottom:50px
}
.learn-more{
    color:#d57146;
    font-weight:bold;
    text-decoration:none;
}
.logo{
    font-family:Merriweather,Arial;
    font-size:40px;
    display:inline
}




