body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
header, footer {
    background: #003e7a;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
main {
    margin-left:200px;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}
article {
    border: 5px solid #003e7a;
    margin: 40px;
}
.sub-header {
    padding-left: 150px;   
}
.sub-header h1{
    font-size:28px;
    text-align: left;
}
nav {
    background: #003e7a;
    width: 200px;
    height:100%;
    border-right: #d57146;
}




