html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    background: #f5f5f5;
}
header, footer {
    background: #003e7a;
    height:100px;
    width:100%;
    max-width:100vw;
    padding:0 80px;
    align-content:center;
    color:white
}
header ul {
    float:right;
    list-style-type: none; 
    padding: 0;           
    margin: 0;  
}
header ul li{
    display:inline-block;
    margin:0 10px
    
}
header ul li a {
  text-decoration: none;
  font-size:32px;
  font-weight:bold
}
a.active{
    color:#d57146
}
a:hover{
    text-decoration:underline;
    text-decoration-color:#d57146;
    text-decoration-thickness:0.25em;
}
.logo:hover{
    text-decoration: none
}
.resource-page-header{
    position:relative
}
.resource-page-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 62, 122, 0.4)
}




