html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    background: #f5f5f5;
    position:relative
}
header, footer {
    background: #003e7a;
    height:100px;
    width:100%;
    max-width:100vw;
    padding:0 80px;
    align-content:center;
    color:white
}
footer {border-top:3px solid #d57146;margin-top:25px}
header ul {
    float:right;
    list-style-type: none; 
    padding: 0;           
    margin: 0;  
}
header ul li{
    display:inline-block;
    margin:0 10px
    
}
header ul li a {
  font-size:32px;
  font-weight:bold
}
a.active{
    color:#d57146
}
.resource-page-header{
    width:100%;
    min-height:400px;
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    padding:100px 0;
    align-content:center
}
.main-header{
    position:fixed;
    border-bottom:3px solid #d57146;
    top:0;
    z-index:1
}
.resource-header-text{
    font-size:64px;
    font-family:Merriweather;
    font-weight:bold;
    color:white;
    line-height:1.5;
    width:60%;
    margin-left:auto;
    margin-right:auto
}
p {
   color: #003e7a;
   font-size:24px;
   margin-top:50px;
   margin-bottom:50px
}
.learn-more{
    color:#d57146;
    font-weight:bold;
}
.logo{
    font-family:Merriweather,Arial;
    font-size:40px;
    display:inline;
    color:white
}
a:link,a:visited,a:active {
   text-decoration:none;
   color:inherit
}
.no-hover:hover{
    text-decoration:none
}
a:hover{
    text-decoration:underline;
    text-decoration-color:#d57146;
    text-decoration-thickness:0.25em;
}
.submit-button{
    border:3px solid #d57146;
    background-color:#003e7a;
    color:#d57146;
    padding:25px 50px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    margin-top:50px;
    margin-bottom:50px;
    border-radius:5px;
    cursor:pointer
}
.feedback-box{
    border:3px solid #d57146;
    width:100%;
    min-height: 200px; /* Optional: Sets a minimum visible height */
    resize:vertical;  /* Hides the scrollbar unless max-height is reached */
    color:#898a8d;
    font-size:20px;
    margin-top:50px;
    margin-bottom:50px;
}
.resource-link-pic-box{
    height:150px;
    width:100%;
    position:relative
}
.resource-link-pic-box::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0,62,122,0.7)
    
}
.resource-filter{
    margin-left:100px;
    margin-bottom:75px;
    border:3px solid #d57146;
    background-color:#003e7a;
    color:#d57146;
    font-weight:bold;
    font-size:20px;
    padding:25px;
    border-radius:20px;
    cursor:pointer;
}
.search-bar{
    width:75%;
    border-top:3px solid #d57146;
    border-left:3px solid #d57146;
    border-bottom:3px solid #d57146;
    color:#003e7a;
    font-size:36px;
    height:48px
}
.search-button{
    border-top:3px solid #d57146;
    border-right:3px solid #d57146;
    border-bottom:3px solid #d57146;
    font-size:36px;
    height:48px;
    color:#d57146;
    background-color:#003e7a;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-weight:bold;
    width:30%   
}




